<div class="container">
  <div class="group-left">
    <login-banner />
  </div>
  <div class="group-right">
    <div class="body-right">
      <div class="group-login-form">
        <h2>{{ title }}</h2>

        <router-outlet></router-outlet>
        <button class="login-btn">
          {{ router.url === "/login" ? "Sign In" : "Sign Up" }}
        </button>
        <div class="divider">or</div>
        <div class="login-social">
          <social-login />
        </div>
      </div>
    </div>
    <div class="title-right">
      <div class="title-right-body">
        <span style="padding-right: 10px">{{ bottomText }}</span>
        <a [routerLink]="bottomLink">
          {{ bottomLinkText }}
        </a>
      </div>
    </div>
  </div>
</div>
