.header_logo svg {
    width: 140px;
}
.group_header{
    display: flex;
    justify-content: space-between;
    padding: .4rem .8rem;
    box-shadow: rgb(0,0,0,.15) 1px 1px 10px 0px;
    padding: 1rem 1rem;
}
.group_header .group_navigation
{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
.group_navigation .btn-navigation{
    background-image:linear-gradient(to right , #d434b0,#8029fc) ;
    padding: .5rem;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}